node_modules
backend/uploads/*
package-lock.json
.env
CSV Import for MySQL.js
SQL_Scripts/
Trivia_Sets/
improved-csv-import.js
uploads/
Loremaster-trivia-server-keypair.pem
config.zip
script.zip
BackendGuide.txt
backupserver.json
.gitignore